html,
body,
#viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

#add {
  margin-bottom: 5px;
}

#actions {
  padding: 5px;
}

button:disabled {
  opacity: 0.4;
  -moz-opacity: 0.4;
  /* Firefox and Mozilla browsers */
  -webkit-opacity: 0.4;
  /* Safari */
  cursor: default;
}

[class*="esri-popup--is-docked-top-"] .esri-popup__footer,
[class*="esri-popup--aligned-bottom-"] .esri-popup__footer {
  border-bottom: solid 1px rgba(110, 110, 110, 0.3);
  display: none !important;
}

.esri-popup__header-buttons {
  padding: 0 7px;
  margin: 0 0 0 auto;
  display: none !important;
}

.esri-popup__footer {
  align-items: center;
  display: none !important;
  flex: 0 0 auto;
  justify-content: space-between;
  padding: 6px 0;
}

.esri-ui .esri-popup {
  pointer-events: none;
  position: absolute;
  z-index: 1;
  display: flex;
  max-width: 300px;
}

.esri-ui .esri-attribution {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: none !important;
}

/* .esri-view-width-less-than-medium .esri-popup__main-container {} */

.esri-popup__main-container {
  outline: none;
  pointer-events: auto;
  position: relative;
  z-index: 1;
  width: fit-content !important;
  max-height: 340px;
  background-color: #fff;
  display: flex;
  flex-flow: column nowrap;
}

.esri-view-width-less-than-medium .esri-popup__main-container {
  width: fit-content !important;
}

.esri-popup__header-title {
  border-radius: 2px !important;
  font-size: 14px !important;
  font-weight: bold !important;
  padding: 6px 6px !important;
  margin: 3px 3px 3px 3px !important;
  display: block;
  transition: background-color 125ms ease-in-out;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
}

.esri-popup__content {
  display: flex;
  flex-flow: column nowrap;
  flex: 1 1 auto;
  font-size: 12px;
  font-weight: 400;
  margin: 0 15px 12px;
  overflow: auto;
  background: url(../resources/icons/iconHome.png)
    no-repeat 0px 0px;
  padding-left: 20px;
}

