.leaflet-container .leaflet-control-attribution,
.leaflet-container .leaflet-control-scale {
  font-size: 11px;
  display: none;
}
.clusterLevel-0 {
  background-color: #777777;
  border: 1px solid #777777;
}

.clusterLevel-1 {
  background-color: #00c06c;
  border: 1px solid #00c06c;
}

.clusterLevel-2 {
  background-color: #2fc0d3;
  border: 1px solid #2fc0d3;
}

.clusterLevel-4 {
  background-color: #ff8400;
  border: 1px solid #ff8400;
}

.clusterLevel-6 {
  background-color: #751f13;
  border: 1px solid #751f13;
}

.clusterLevel-7 {
  background-color: #777777;
  border: 1px solid #777777;
}

.cluster {
  border-radius: 50%;
  text-align: center;
  color: white;
  font-weight: 700;

  font-family: monospace;
}

.cluster:before {
  content: " ";
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  top: 1px;
  left: 1px;
  right: 1px;
  bottom: 1px;
  border: 1px solid white;
}

.digits-1 {
  font-size: 14px;
  height: 28px;
  width: 28px;
  line-height: 28px;
  margin-top: -7px;
  margin-left: -10px;
  z-index: 13;
}

.digits-2 {
  font-size: 15px;
  height: 34px;
  width: 34px;
  line-height: 35px;
  margin-top: -16px;
  margin-left: -17px;
  z-index: 12;
}

.digits-2:before {
  border-width: 2px;
}

.digits-3 {
  font-size: 16px;
  height: 48px;
  width: 47px;
  line-height: 47px;
  border-width: 3px;
  margin-top: -21px;
  margin-left: -23.5px;
  z-index: 11;
}

.digits-3:before {
  border-width: 3px;
}

.digits-4 {
  font-size: 18px;
  height: 58px;
  width: 58px;
  line-height: 57px;
  border-width: 4px;
  margin-top: -17px;
  margin-left: -28px;
  z-index: 10;
}

.digits-4:before {
  border-width: 4px;
}

#searchBox {
  z-index: 1601 !important;
}

.customPopup {
  margin-left: 16px; /* 1/2 width icon image*/
}
