html,
body,
#viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

#add {
  margin-bottom: 5px;
}

#actions {
  padding: 5px;
}

button:disabled {
  opacity: 0.4;
  -moz-opacity: 0.4;
  /* Firefox and Mozilla browsers */
  -webkit-opacity: 0.4;
  /* Safari */
  cursor: default;
}

[class*="esri-popup--is-docked-top-"] .esri-popup__footer,
[class*="esri-popup--aligned-bottom-"] .esri-popup__footer {
  border-bottom: solid 1px rgba(110, 110, 110, 0.3);
  display: none !important;
}

.esri-popup__header-buttons {
  padding: 0 7px;
  margin: 0 0 0 auto;
  display: none !important;
}

.esri-popup__footer {
  align-items: center;
  display: none !important;
  flex: 0 0 auto;
  justify-content: space-between;
  padding: 6px 0;
}

.esri-ui .esri-popup {
  pointer-events: none;
  position: absolute;
  z-index: 1;
  display: flex;
  max-width: 300px;
}

.esri-ui .esri-attribution {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: none !important;
}

/* .esri-view-width-less-than-medium .esri-popup__main-container {} */

.esri-popup__main-container {
  outline: none;
  pointer-events: auto;
  position: relative;
  z-index: 1;
  width: fit-content !important;
  max-height: 340px;
  background-color: #fff;
  display: flex;
  flex-flow: column nowrap;
}

.esri-view-width-less-than-medium .esri-popup__main-container {
  width: fit-content !important;
}

.esri-popup__header-title {
  border-radius: 2px !important;
  font-size: 14px !important;
  font-weight: bold !important;
  padding: 6px 6px !important;
  margin: 3px 3px 3px 3px !important;
  display: block;
  transition: background-color 125ms ease-in-out;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
}

.esri-popup__content {
  display: flex;
  flex-flow: column nowrap;
  flex: 1 1 auto;
  font-size: 12px;
  font-weight: 400;
  margin: 0 15px 12px;
  overflow: auto;
  background: url(../resources/icons/iconHome.png) no-repeat 0px 0px;
  padding-left: 20px;
}

.clusterRed {
  background-color: rgba(214, 26, 26, 1);
  border: 1px solid rgba(214, 26, 26, 1);
}

.clusterGreen {
  background-color: rgba(52, 224, 30, 1);
  border: 1px solid rgba(52, 224, 30, 1);
}

.clusterBlue {
  background-color: rgba(10, 164, 235, 1);
  border: 1px solid rgba(10, 164, 235, 1);
}

.cluster {
  border-radius: 50%;
  text-align: center;
  color: white;
  font-weight: 700;

  font-family: monospace;
}

.cluster:before {
  content: " ";
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  top: 1px;
  left: 1px;
  right: 1px;
  bottom: 1px;
  border: 1px solid white;
}

.digits-1 {
  font-size: 14px;
  height: 28px;
  width: 28px;
  line-height: 28px;
  margin-top: -14px;
  margin-left: -14px;
}

.digits-2 {
  font-size: 15px;
  height: 34px;
  width: 34px;
  line-height: 35px;
  margin-top: -17px;
  margin-left: -17px;
}

.digits-2:before {
  border-width: 2px;
}

.digits-3 {
  font-size: 16px;
  height: 48px;
  width: 47px;
  line-height: 47px;
  border-width: 3px;
  margin-top: -24px;
  margin-left: -24px;
}

.digits-3:before {
  border-width: 3px;
}

.digits-4 {
  font-size: 18px;
  height: 58px;
  width: 58px;
  line-height: 57px;
  border-width: 4px;
  margin-top: -29px;
  margin-left: -29px;
}

.digits-4:before {
  border-width: 4px;
}

.mycluster {
  width: 40px;
  height: 40px;
  background-color: red;
  text-align: center;
  font-size: 24px;
  /* margin-left: -20px;
  margin-top: -20px;
  width: 40px;
  height: 40px;
  transform: translate3d(503px, 244px, 0px);
  z-index: 244;
  opacity: 1;
  background-clip: padding-box;
  border-radius: 20px;
  background-color: rgba(0, 17, 253, 0.295);
  cursor: pointer; */
}

.mycluster1 {
  width: 40px;
  height: 40px;
  background-color: green;
  text-align: center;
  font-size: 24px;
}

.mycluster2 {
  width: 40px;
  height: 40px;
  background-color: blue;
  text-align: center;
  font-size: 24px;
}
