.ant-modal {
    padding-bottom: 0px;
  }
  
  .ant-modal-mask {
    background-color: rgba(0, 0, 0, 0.85);
  }
  
  .ant-modal-title {
    font-weight: bold;
    font-size: 20px;
    color: #000;
    margin-left: 10px;
    /* max-width: calc(100% - 60px); */
  }
  
  .ant-modal-header {
    /* position: absolute; */
    padding: 0px 24px;
    text-overflow: ellipsis;
    /* max-width: calc(100% - 60px); */
    overflow: hidden;
    white-space: nowrap;
  }
  
  .ant-modal-close {
    margin-right: calc(100% - 35px);
    z-index: 101;
  }
  
  .ant-modal-close-x {
    width: 36px;
    height: 30px;
    line-height: 32px;
    margin-top: -3px;
  }
  